<?xml version ="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	 <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-34-231-63-30.compute-1.amazonaws.com/d1mvarii6g28ru?sslmode=require</property>
        <property name="hibernate.connection.username">iniuaipppjefrz</property>
        <property name="hibernate.connection.password">8370e740912ba08108e7185cecfa90b3462a004c7ec601c2cd04dc588c9a377b</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>  
        <mapping resource="library.hbm.xml"/>
	</session-factory>
</hibernate-configuration>